.nav {
  padding: 0.6rem 0;
  display: flex;
  flex-direction: row;
}
.ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.li {
  display: flex;
  place-items: center;
}

.a {
}
