@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
    format("truetype");
}

:root {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --white: #dee1ff;
  --black: #242424;

  --background-color: var(--white);
  --text-color: var(--black);
  --text-color-secondary: var(--white);
  --btn-color: var(--black);
  --btn-color-secondary: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --background-color: var(--black);
  --text-color: var(--white);
  --text-color-secondary: var(--black);
  --btn-color: var(--white);
  --btn-secondary-color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.75s ease, color 0.75s ease;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 80px;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  width: 100%;
  height: 100%;
}
